* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

li {
  list-style: none; }

ul {
  padding-left: 0; }

ol {
  padding-left: 0; }

input:focus {
  outline: none; }

textarea:focus {
  outline: none; }

button:focus {
  outline: none; }

textarea:focus {
  outline: none; }

button,
input {
  font-family: 'Raleway', sans-serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

body {
  min-width: 320px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  color: #383838;
  background-color: #FFF4EE; }

.app {
  width: 100%;
  height: 100%;
  background-color: #FFF4EE;
  height: 100vh; }

.sidebar {
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  width: 360px;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 35px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  overflow: auto; }

.content {
  width: 100%;
  padding-left: 400px;
  padding-top: 30px;
  padding-right: 27px;
  padding-bottom: 52px;
  background-color: #FFF4EE; }

.logo {
  font-family: 'Rubik';
  font-size: 36.3326px;
  line-height: 43px;
  /* identical to box height */
  color: #474141;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 20px; }

.sidebar__bot {
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  padding-left: 40px;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: end;
      justify-content: flex-end; }

.sidebar__bot ul li {
  margin-bottom: 13px; }

.sidebar__bot ul li:last-child {
  margin-bottom: 0; }

.sidebar__list1 {
  color: #FF6767;
  margin-bottom: 34px; }
  .sidebar__list1 li a:hover {
    text-decoration: underline; }

.top-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 44px; }

.btn-fiolet {
  background: #884594;
  border-radius: 3px;
  padding: 9px 21px;
  color: #fff;
  font-weight: 800;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  transition: 0.3s all; }
  .btn-fiolet svg {
    margin-right: 9px; }

.btn-fiolet:hover {
  opacity: 0.9; }

.tow-row__left .btn-fiolet {
  padding-left: 12px; }

.top-row__right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .top-row__right .btn-fiolet {
    padding: 8px 12px; }

.avatar {
  position: relative;
  cursor: pointer; }

.avatar__img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%; }

.avatar {
  margin-left: 22px; }

.menu {
  top: calc(100% + 10px);
  right: 0;
  position: absolute;
  background: #FFFFFF;
  display: none;
  /* Light Shadow */
  box-shadow: 0px 4px 30px rgba(255, 30, 30, 0.06);
  border-radius: 20px;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 284px;
  z-index: 5; }
  .menu .close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    cursor: pointer; }
    .menu .close svg path {
      transition: 0.3s all; }
  .menu .close:hover svg path {
    stroke: #383838; }
  .menu ul {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 20px;
    padding-bottom: 20px; }
  .menu ul:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0; }
  .menu ul li span {
    font-weight: 800;
    padding: 9px 28px;
    display: block; }
  .menu ul li a {
    font-weight: 500;
    padding: 9px 28px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .menu ul li a svg {
      margin-right: 12px; }
  .menu ul li a:hover {
    background: #FFEACA; }

.btn-light {
  background: #FF9589;
  border-radius: 3px;
  font-weight: 800;
  color: #fff;
  padding: 9px 16px;
  transition: 0.3s all; }

.btn-light:hover {
  background: #FF6767; }

.btn-red {
  background: #FF6767;
  border-radius: 3px;
  font-weight: 800;
  color: #fff;
  padding: 9px 16px;
  transition: 0.3s all;
  font-size: 16px;
  cursor: pointer; }

.btn-red:hover {
  background: #FF9589; }

.sites__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  max-width: 464px;
  background-color: #fff;
  padding: 20px 29px;
  transition: 0.1s all; }

.sites .sites__item:first-child {
  margin-bottom: 46px; }

.sites__name {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .sites__name img {
    margin-right: 9px; }

.sites__title {
  font-weight: 800;
  margin-bottom: 19px;
  padding-left: 34px; }

.sites {
  margin-top: 83px; }

.title {
  font-weight: 800;
  font-size: 31px;
  line-height: 36px;
  color: #000;
  margin-bottom: 33px; }

.addsite {
  padding: 32px;
  background-color: #fff;
  max-width: 720px; }

.addsite__title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-weight: 800;
  font-size: 31px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 23px; }
  .addsite__title span {
    word-break: break-word; }
  .addsite__title svg {
    margin-left: 18px;
    min-width: 20px; }

label {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #383838;
  display: block;
  margin-bottom: 10px; }

input {
  font-size: 16px;
  font-weight: 500; }

.site-input input {
  width: 100%;
  border: 2px solid #884594;
  border-radius: 5px;
  height: 44px;
  padding-left: 18px;
  padding-right: 18px;
  color: #000; }

.site-input input:focus {
  box-shadow: 0 0 5px rgba(136, 69, 148, 0.5); }

.site-input {
  margin-bottom: 36px; }

.addsite__save {
  width: 180px; }

.burger {
  display: none; }

.left-menu ul {
  border-bottom: 1px solid #E5E5E5;
  padding-top: 20px;
  padding-bottom: 20px; }

.left-menu ul:first-child {
  padding-top: 0px; }

.left-menu ul:last-child {
  border-bottom: 0; }

.left-menu span {
  padding-left: 41px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 10px;
  display: block;
  font-weight: 800; }

.left-menu a {
  padding-left: 41px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 10px;
  display: block;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px; }

.left-menu a:hover {
  background: #FFEACA; }

.left-menu a.active {
  background: #884594;
  color: #fff; }

.left-menu .site-link {
  font-size: 26px;
  line-height: 31px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding-right: 31px; }

.market {
  max-width: 720px; }

.nice-select {
  float: initial;
  background: #FFFFFF;
  /* Light Shadow */
  box-shadow: 0px 4px 30px rgba(255, 30, 30, 0.06);
  border-radius: 3px;
  border: 0;
  height: 56px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.nice-select:after {
  border-bottom: 2px solid #884594;
  border-right: 2px solid #884594;
  width: 10px;
  height: 10px;
  right: 20px;
  margin-top: -8px; }

.nice-select span {
  font-size: 26px;
  line-height: 31px; }

.nice-select .list {
  width: 100%; }

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: #ffeaca; }

.top-select {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px; }
  .top-select .nice-select {
    margin-left: 23px;
    width: 402px; }

.sidebar .close {
  display: none; }

@media (max-width: 1600px) {
  .left-menu a {
    font-size: 16px;
    line-height: 19px; }
  .left-menu ul {
    padding-top: 10px;
    padding-bottom: 10px; } }

@media (max-width: 1199px) {
  .sidebar {
    width: 300px; }
  .left-menu ul:last-child {
    margin-bottom: 10px; }
  .content {
    padding-left: 320px;
    padding-right: 20px; }
  .left-menu a {
    padding-left: 15px;
    font-size: 16px;
    line-height: 19px; }
  .left-menu span {
    padding-left: 15px; }
  .left-menu .site-link {
    font-size: 22px;
    line-height: 24px; }
  .left-menu ul {
    padding-top: 10px;
    padding-bottom: 10px; }
  .nice-select span {
    font-size: 19px;
    line-height: 23px; }
  .top-select .nice-select {
    width: 350px;
    max-width: 350px; }
  .sidebar__bot {
    padding-left: 15px; }
  .logo {
    padding-left: 0; } }

@media (max-width: 1024px) {
  .sidebar {
    -webkit-transform: translateX(-101%);
            transform: translateX(-101%);
    transition: 0.3s all;
    z-index: 5;
    padding-right: 10px; }
  .content {
    padding-left: 20px; }
  .burger {
    display: block;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    border: 1px solid #FF4A35;
    padding: 10px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    margin-right: 22px; }
  .tow-row__left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
  .burger span {
    width: 100%;
    height: 2px;
    margin: 6px 0;
    display: block;
    background-color: #000; }
  .sidebar.active {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  .sidebar__bot {
    padding-left: 15px; }
  .logo {
    padding-left: 0; }
  .top-select .nice-select {
    width: 300px; }
  .sidebar .close {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px; }
    .sidebar .close svg path {
      stroke: #383838; }
  .top-row__right {
    -ms-flex: 1;
        flex: 1;
    -ms-flex-pack: end;
        justify-content: flex-end; }
  .top-row {
    -ms-flex-pack: start;
        justify-content: flex-start; } }

@media (max-width: 767px) {
  .top-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .tow-row__left {
    width: 100%;
    -ms-flex-order: 1;
        order: 1;
    margin-top: 25px; }
  .tow-row__right {
    -ms-flex: 1;
        flex: 1; }
  .content {
    padding-top: 15px; }
  .content {
    padding-left: 15px;
    padding-right: 15px; }
  .top-row {
    margin-bottom: 40px; }
  .addsite {
    padding: 30px 15px; }
  .title {
    font-size: 24px;
    line-height: 28px; }
  .addsite__title {
    font-size: 19px; } }

@media (max-width: 424px) {
  .top-select .nice-select {
    width: 250px;
    margin-left: 15px;
    padding-right: 35px; }
  .nice-select span {
    font-size: 16px; }
  .burger {
    margin-right: 10px; }
  .top-select {
    width: 100%; }
  .top-select .nice-select {
    -ms-flex: 1;
        flex: 1; } }

@media (max-width: 374px) {
  .top-row .btn-fiolet {
    padding: 9px 12px; }
  .avatar {
    margin-left: 10px; } }

@media (max-width: 767px) {
  .sites__item {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start; }
  .sites__name {
    margin-bottom: 10px; }
  .sites {
    margin-top: 40px; } }

.market__info {
  padding: 15px 15px;
  background: #FFEACA;
  border: 1px solid #FDD290;
  box-sizing: border-box;
  /* Light Shadow */
  box-shadow: 0px 4px 30px rgba(255, 30, 30, 0.06);
  border-radius: 3px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 20px; }
  .market__info svg {
    margin-right: 13px;
    min-width: 20px; }

.market__item {
  background: #FFFFFF;
  /* Light Shadow */
  box-shadow: 0px 4px 30px rgba(255, 30, 30, 0.06);
  border-radius: 3px;
  padding: 15px 19px;
  margin-bottom: 20px; }

.market__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.market__left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .market__left .market__img {
    margin-right: 30px; }

.checkbox-inline input {
  display: block; }

.checkbox-inline input + label {
  width: 42px;
  height: 20px;
  background: #E5E5E5;
  border-radius: 10px;
  padding: 3px;
  margin-bottom: 0;
  cursor: pointer; }

.checkbox-inline input + label:before {
  content: "";
  display: block;
  height: 14px;
  width: 14px;
  background: #FFFFFF;
  border-radius: 100%;
  margin-right: auto;
  margin-left: 0; }

.checkbox-inline input:checked + label {
  background: #884594; }

.checkbox-inline input:checked + label:before {
  margin-left: auto;
  margin-right: 0; }

.btn-api {
  font-weight: 800;
  padding: 8px 13px;
  padding-left: 8px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
  transition: 0.3s all; }
  .btn-api svg {
    margin-right: 7px; }

.btn-api:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }

.btn-api.fiolet {
  border: 2px solid #884594;
  color: #884594; }
  .btn-api.fiolet svg path {
    fill: #884594; }

.btn-api.red {
  border: 2px solid #FF6767;
  color: #FF6767; }
  .btn-api.red svg path {
    fill: #FF6767; }

.market__right .btn-red {
  display: none; }

.market__wrap {
  display: none;
  padding-top: 20px; }
  .market__wrap .input {
    margin-bottom: 20px; }

.input input {
  background: #FFEACA;
  border-radius: 5px;
  height: 36px;
  width: 100%;
  padding: 0 20px; }

.market__item.active .market__right .btn-red {
  display: block; }

.market__item.active .market__right .btn-api {
  display: none; }

.market__item.active .market__wrap {
  display: block; }

.market__item.not-active .market__right .btn-api {
  pointer-events: none;
  border: 2px solid #E5E5E5;
  color: #E5E5E5; }
  .market__item.not-active .market__right .btn-api svg path {
    fill: #E5E5E5;
    transition: 0.3s all; }

.marker-add {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .marker-add svg {
    margin-right: 10px; }

@media (max-width: 470px) {
  .market__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .market__right {
    width: 100%;
    margin-top: 15px; }
  .market__left {
    width: 100%; }
  .market__left .market__img {
    -ms-flex: 1;
        flex: 1; } }

.logo-down {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  margin-bottom: 26px; }

.logo-down img {
  display: block;
  margin-right: 19px;
  height: 36px; }

.file input {
  display: none; }

.file input + label {
  cursor: pointer;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding-left: 9px;
  height: 36px;
  width: 170px;
  padding-right: 12px; }

@media (max-width: 399px) {
  .logo-down {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; } }

.market.market--list .market__left {
  width: 100%; }
  .market.market--list .market__left .market__img {
    -ms-flex: 1;
        flex: 1; }

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

li {
  list-style: none; }

ul {
  padding-left: 0; }

ol {
  padding-left: 0; }

input:focus {
  outline: none; }

textarea:focus {
  outline: none; }

button:focus {
  outline: none; }

textarea:focus {
  outline: none; }

button,
input {
  font-family: 'Raleway', sans-serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

body {
  min-width: 320px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  color: #383838;
  background-color: #FFF4EE; }

.catalog-filter__left {
  display: -ms-flexbox;
  display: flex; }

.catalog-filter {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 26px; }
  .catalog-filter .btn-filter {
    padding-top: 0;
    padding-bottom: 0;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    padding-left: 12px;
    height: 36px;
    width: auto;
    margin-right: 10px;
    margin-bottom: 0; }
    .catalog-filter .btn-filter svg {
      min-width: 16px;
      margin-right: 10px; }

.catalog__search {
  position: relative;
  /* margin-right: 10px;  */
}
  .catalog__search button {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 13px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin-top: 2px; }

@media (max-width: 991px) {
  .catalog__search {
    margin-right: 0; } }

.catalog__search input {
  border: 1px solid #383838;
  border-radius: 47px;
  padding-right: 10px;
  width: 216px;
  padding-left: 42px;
  height: 36px;
  background-color: transparent;
  transition: 0.2s all; }

.catalog__search input:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }

.catalog__search input::-webkit-input-placeholder {
  color: #383838; }

.catalog__search input:-ms-input-placeholder {
  color: #383838; }

.catalog__search input::-ms-input-placeholder {
  color: #383838; }

.catalog__search input::placeholder {
  color: #383838; }

.checkbox {
  margin-right: 20px; }
  .checkbox input {
    display: none; }
  .checkbox input + label {
    display: block;
    border: 2px solid #FF6767;
    width: 22px;
    height: 22px;
    cursor: pointer;
    background-color: transparent;
    margin-bottom: 0; }
  .checkbox input:checked + label {
    background-color: #FF6767;
    border-radius: 2px;
    background-image: url("../img/auth/checked.svg");
    background-position: center;
    background-repeat: no-repeat; }

.catalog__head {
  background-color: #FFF5F5;
  display: -ms-flexbox;
  display: flex;
  height: 62px;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 22px;
  padding-right: 22px; }

.action {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .action button {
    padding: 0;
    height: 24px;
    width: 31px;
    -ms-flex: 0 0 31px;
        flex: 0 0 31px;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase; }

.action__item {
  display: none;
  font-size: 13px;
  cursor: pointer;
  width: 100%;
  -ms-flex-align: center;
      align-items: center; }
  .action__item svg {
    margin-right: 9px; }

.action__item.active {
  display: -ms-flexbox;
  display: flex; }

.action__wrap {
  position: relative;
  background-color: #fff;
  -ms-flex: 0 0 134px;
      flex: 0 0 134px;
  margin-right: 6px;
  height: 24px;
  padding-left: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  background-image: url("../img/catalog/action-v.svg");
  background-position: center right 9px;
  background-repeat: no-repeat; }

.action__toggle {
  display: none;
  position: absolute;
  top: calc(100% + 4px);
  background-color: #fff;
  padding: 8px 10px;
  padding-bottom: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 4px 30px rgba(255, 30, 30, 0.06);
  border-radius: 2.15183px; }
  .action__toggle span {
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    display: block;
    margin-bottom: 5px; }

.action__toggle__item {
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 9px 0;
  font-size: 13px;
  border-bottom: 1px solid #E5E5E5; }
  .action__toggle__item svg {
    margin-right: 9px; }

.catalog__setting__wrap {
  display: none;
  position: absolute;
  top: 100%;
  width: 282px;
  background: #FFFFFF;
  /* Shadow */
  box-shadow: 0px 4px 30px rgba(255, 30, 30, 0.11);
  border-radius: 20px;
  right: 0;
  padding: 23px 28px; }
  .catalog__setting__wrap .catalog__setting__title {
    font-weight: 800;
    margin-bottom: 21px;
    display: block; }
  .catalog__setting__wrap ul li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    position: relative;
    margin-bottom: 21px; }
    .catalog__setting__wrap ul li span {
      position: absolute;
      left: -8px;
      top: 50%;
      -webkit-transform: translateY(-50%) translateX(-100%);
              transform: translateY(-50%) translateX(-100%); }

.catalog__setting__price {
  margin-left: -28px;
  margin-right: -28px;
  padding: 0 28px;
  padding-top: 25px;
  border-top: 1px solid #E5E5E5;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-weight: 800; }

.action__toggle__item:last-child {
  border-bottom: 0; }

.catalog__settign {
  position: relative; }
  .catalog__settign button {
    width: 24px;
    height: 24px;
    background-color: transparent;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }

.catalog .col {
  padding: 0 10px; }

.catalog .site-name {
  font-weight: bold;
  font-size: 21px;
  line-height: 25px;
  word-wrap: break-word; }

.catalog .col-1 {
  -ms-flex: 0 0 275px;
      flex: 0 0 275px;
  padding-left: 0; }

.catalog .col-2 {
  -ms-flex: 0 0 175px;
      flex: 0 0 175px;
  max-width: 175px;
  padding-right: 20px; }

.catalog .col-3 {
  width: 278px;
  -ms-flex: 1;
      flex: 1; }

.catalog .col-4 {
  padding-right: 0;
  -ms-flex: 0 0 37px;
      flex: 0 0 37px; }

.catalog__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.catalog__body {
  background-color: #fff;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 21px; }
  .catalog__body .text-block {
    padding: 10px 13px;
    background: #FFEACA;
    border-radius: 5px;
    min-height: 100%;
    width: 100%;
    word-break: break-word;
    font-size: 13px;
    transition: 0.2s all; }
  .catalog__body .text-block:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); }

.catalog__body__row {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #E5E5E5;
  background-color: #fff; }

.catalog__body__row1 {
  display: -ms-flexbox;
  display: flex; }

.catalog__body__row2 {
  display: -ms-flexbox;
  display: flex; }

.catalog__item__name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.catalog-edit {
  padding: 5px;
  background-color: transparent;
  cursor: pointer; }

.catalog__price {
  width: 100%;
  margin-top: 16px;
  padding-left: 42px;
  padding-right: 50px;
  font-weight: 800; }
  .catalog__price .catalog__price__wrap {
    height: 36px;
    background: #FFF4EE;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }

.catalog__price__left {
  padding-left: 17px;
  padding-right: 30px;
  -ms-flex: 0 0 400px;
      flex: 0 0 400px; }

.catalog__price__col {
  width: 278px;
  padding-left: 20px;
  -ms-flex: 1;
      flex: 1; }

.catalog__table {
  position: relative; }

.catalog__table__wrap {
  width: 100%;
  position: relative; }

.catalog__settign {
  position: absolute;
  right: 0;
  background-color: #fff5f5;
  height: 62px;
  width: 62px;
  -ms-flex-pack: end;
      justify-content: flex-end;
  top: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  z-index: 5;
  padding-right: 24px; }

.b-item {
  display: none; }

.catalog__table.big .catalog__table__wrap {
  overflow: auto; }

.catalog__table.big .catalog__body {
  width: -webkit-max-content;
  width: max-content;
  min-width: 100%; }

.catalog__table.big .catalog__head {
  width: -webkit-max-content;
  width: max-content;
  min-width: 100%; }

.catalog__table.big .catalog__wrap2 {
  width: -webkit-max-content;
  width: max-content;
  min-width: 100%; }

@media (max-width: 1299px) {
  .catalog-filter .btn-filter {
    font-size: 14px; } }

@media (max-width: 1299px) and (min-width: 1025px) {
  .catalog .col-2 {
    padding-right: 10px; }
  .catalog__table__wrap {
    overflow: auto; }
  .catalog .col-3 {
    min-width: 250px;
    -ms-flex: 1;
        flex: 1;
    width: 250px; }
  .catalog__price__col {
    min-width: 250px;
    -ms-flex: 1;
        flex: 1;
    width: 250px; }
  .catalog__body {
    width: -webkit-max-content;
    width: max-content;
    min-width: 100%; }
  .catalog__head {
    width: -webkit-max-content;
    width: max-content;
    min-width: 100%; }
  .catalog__wrap2 {
    width: -webkit-max-content;
    width: max-content;
    min-width: 100%; } }

@media (max-width: 991px) {
  .catalog .col-2 {
    padding-right: 10px; }
  .catalog__table__wrap {
    overflow: auto; }
  .catalog .col-3 {
    min-width: 250px;
    -ms-flex: 1;
        flex: 1;
    width: 250px; }
  .catalog__price__col {
    min-width: 250px;
    -ms-flex: 1;
        flex: 1;
    width: 250px; }
  .catalog__body {
    width: -webkit-max-content;
    width: max-content;
    min-width: 100%; }
  .catalog__head {
    width: -webkit-max-content;
    width: max-content;
    min-width: 100%; }
  .catalog__wrap2 {
    width: -webkit-max-content;
    width: max-content;
    min-width: 100%; } }

@media (max-width: 767px) {
  .catalog__body .text-block {
    font-size: 12px; }
  .catalog .col {
    padding: 0 5px; }
  .catalog__item__name {
    font-size: 12px;
    -webkit-line-clamp: 3; }
  .catalog .col-1 {
    -ms-flex: 0 0 230px;
        flex: 0 0 230px; }
  .catalog .site-name {
    font-size: 14px; }
  .catalog__item .checkbox {
    margin-right: 15px; }
  .catalog__price {
    padding-left: 0; }
  .catalog__settign {
    padding-right: 15px; }
  .catalog__body {
    padding-right: 15px;
    padding-left: 15px; }
  .catalog__head {
    padding-right: 15px;
    padding-left: 15px; } }

@media (max-width: 1199px) {
  .catalog-filter__left {
    width: 100%;
    margin-bottom: 15px; }
  .catalog-filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .catalog__search {
    margin-left: auto; } }

@media (max-width: 580px) {
  .catalog-filter__left {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .catalog-filter .btn-filter {
    margin-bottom: 15px; }
  .catalog__table {
    margin: 0 -15px; } }

.vidget {
  max-width: 720px; }

.proverka {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  background-color: #fff;
  padding: 17px;
  margin-bottom: 15px; }

.proverka__icon {
  margin-right: 25px;
  margin-top: 2px; }

.proverka__right {
  padding-left: 15px;
  -ms-flex: 1;
      flex: 1;
  text-align: right;
  color: #ABA9A9; }

.proverka__left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.proverka.rabotaet .proverka__left {
  color: #884594; }

.proverka.ne-rabotaet .proverka__left {
  color: #ED793F; }

.proverka.ne-ustanovlen .proverka__left {
  color: #ABA9A9; }

.proverka .error {
  width: 100%;
  background: #FFEACA;
  border: 1px solid #FB8347;
  box-sizing: border-box;
  /* Light Shadow */
  box-shadow: 0px 4px 30px rgba(255, 30, 30, 0.06);
  border-radius: 3px;
  padding: 11px 14px;
  color: #ED793F;
  margin-top: 15px; }

.shags {
  margin-top: 42px; }

pre {
  background: #FFEACA;
  border-radius: 3px;
  font-size: 12px;
  padding: 16px;
  color: #383838;
  margin-bottom: 17px;
  font-family: 'Roboto Mono';
  overflow: auto; }

.shag__content .btn-fiolet {
  font-weight: 800;
  font-size: 16px;
  cursor: pointer; }

.shag {
  background: #FFFFFF;
  /* Light Shadow */
  box-shadow: 0px 4px 30px rgba(255, 30, 30, 0.06);
  border-radius: 3px;
  margin-bottom: 21px; }

.shag__title {
  font-weight: 800;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 19px 25px;
  cursor: pointer; }

.shag__title.active svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.shag__content {
  display: none;
  padding: 19px 25px;
  padding-top: 0; }

.text-copy {
  display: none;
  position: fixed;
  top: 15px;
  right: 15px;
  padding: 15px 25px;
  background: #FFEACA;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 92, 255, 0.15); }

.vibor {
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px; }

.vibor__item {
  margin: 0 10px;
  cursor: pointer;
  width: calc(100% / 3 - 20px); }

.vibor__img {
  width: 100%;
  height: 136px;
  background: #FFF4EE;
  border: 4px solid #FFEACA;
  border-radius: 4px;
  margin-bottom: 11px; }

.vibor__img.vibor1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }

.vibor__img.vibor3 span {
  position: relative; }

.vibor__img.vibor3 span::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: #E5E5E5;
  border-radius: 100%;
  position: absolute;
  right: -6px;
  top: -6px; }

.vibor__img.vibor2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-pack: end;
      justify-content: flex-end; }

.vibor__name {
  font-weight: 800;
  margin-bottom: 3px; }

.vibor__item.active .vibor__img {
  border: 4px solid #884594; }

.vibor__content__item {
  display: none;
  margin-top: 39px; }

.v__title {
  font-weight: 800;
  background: #FFF4EE;
  padding: 10px 5px;
  text-align: center; }

.v__wrap {
  border: 2px solid #FFF4EE;
  border-radius: 3px;
  padding: 25px;
  margin-bottom: 25px; }

.v__btns {
  border-bottom: 1px solid #E5E5E5; }
  .v__btns span {
    display: block;
    font-size: 13px;
    color: #000000;
    margin-bottom: 9px; }
  .v__btns input {
    font-size: 13px;
    background: #FFEACA;
    border-radius: 3px;
    padding: 8px 10px;
    margin-bottom: 17px; }

.customer {
  padding-top: 28px;
  padding-bottom: 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #E5E5E5; }

.customer__left {
  width: 50%; }

.customer__right {
  width: 50%;
  padding-left: 15px; }

.customer__bottom {
  width: 100%;
  display: -ms-flexbox;
  display: flex; }

.customer__inline__right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.customer__inline {
  margin-bottom: 15px;
  font-size: 13px;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .customer__inline input.text {
    width: 81px;
    height: 30px;
    background: #FFEACA;
    border-radius: 3px;
    font-size: 13px;
    padding: 0 11px;
    text-transform: lowercase; }
  .customer__inline .color {
    padding: 5px;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    margin-left: 10px; }

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer; }

input[type="color"].white {
  border: 1px solid #D0D0D0; }

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0; }

input[type="color"]::-webkit-color-swatch {
  border: none; }

.custom__block {
  border-bottom: 1px solid #E5E5E5; }

.custom__checkbox {
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px; }
  .custom__checkbox .checkbox {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    margin-right: 17px;
    font-size: 13px; }
    .custom__checkbox .checkbox label {
      margin-right: 14px; }

.vidget-v {
  background-color: #ffffff;
  width: 216px;
  padding: 14px 16px; }

.vkladka1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }

.vidget-v span img {
  max-width: 86px;
  display: block; }

.vidget-v .vidget-v__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 19px; }
  .vidget-v .vidget-v__row a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    width: 36px;
    height: 36px;
    margin-left: 14px;
    border: 1px solid #ebebeb; }
  .vidget-v .vidget-v__row .vidget-v__right {
    color: #000000;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    font-size: 15px;
    font-family: 'Roboto'; }

.vidget-v .vidget-v__row:last-child {
  margin-bottom: 0; }

.button__text-input {
  font-size: 13px;
  color: #000000;
  margin-bottom: 14px; }
  .button__text-input div {
    margin-bottom: 9px; }
  .button__text-input input {
    background: #FFEACA;
    border-radius: 3px;
    height: 30px;
    width: 267px;
    max-width: 100%;
    font-size: 13px;
    padding: 0 10px; }

.font-size-input {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  max-width: calc(100% - 42px);
  margin-bottom: 14px;
  font-size: 13px; }

.input-size {
  position: relative; }
  .input-size span {
    height: 50%;
    width: 25px;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0px;
    padding: 2px;
    cursor: pointer; }
  .input-size span:hover svg {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  .input-size span.up {
    top: 0;
    -ms-flex-align: end;
        align-items: flex-end; }
  .input-size span.down {
    bottom: 0;
    -ms-flex-align: end;
        align-items: flex-end;
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg); }
  .input-size input {
    width: 82px;
    background: #FFEACA;
    border-radius: 3px;
    padding-left: 20px;
    height: 30px; }
  .input-size input::-webkit-outer-spin-button,
  .input-size input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; }

.right-button-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 100%; }

.rich-btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  border-radius: 37px;
  min-width: 216px;
  min-height: 49px;
  cursor: pointer;
  transition: 0.3s all;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  border: 1px solid #ebebeb; }

.rich-btn:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7); }

.code-copy {
  padding-top: 27px; }
  .code-copy .code-copy__title {
    font-weight: 800;
    margin-bottom: 17px; }

.market__info.danger {
  background: #FFCACA;
  border: 1px solid #FF6767; }

.vkladka2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center; }

.vidget-v__bot {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.03em; }
  .vidget-v__bot span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -ms-flex: 1;
        flex: 1;
    padding-right: 15px; }

.vidget-v__bot__img {
  margin-right: 12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  width: 40px;
  height: 40px;
  -ms-flex: 0 0 40px;
      flex: 0 0 40px;
  border-radius: 100%;
  background-color: #ffffff;
  padding: 10px; }
  .vidget-v__bot__img img {
    max-width: 100%; }

#vidget1 {
  width: 216px; }

#vidget2 {
  width: 216px; }

.customer__text-block,
.customer__img-block {
  padding-top: 14px;
  border-bottom: 1px solid #E5E5E5; }

.logo-change {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start; }
  .logo-change img {
    margin-right: 11px;
    width: 40px; }
  .logo-change label {
    margin-bottom: 0; }

.logo-change.big img {
  width: 77px; }

#vidget3 {
  padding-top: 28px;
  padding-bottom: 44px;
  padding-right: 15px;
  padding-left: 15px; }

.vidget-v__wrap {
  background-color: #ffffff;
  width: 426px;
  margin: 0 auto;
  padding: 21px 15px;
  padding-bottom: 3px;
  position: relative; }
  .vidget-v__wrap .vidget-v__title {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: 0.03em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .vidget-v__wrap .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    -webkit-transform: translate(60%, -50%);
            transform: translate(60%, -50%); }

@media (max-width: 767px) {
  #vidget3 .vidget-v__wrap2 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
  #vidget3 .vidget-v__wrap {
    width: 225px; }
  #vidget3 .vidget-v__title {
    max-width: 280px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 15px; } }

.vidget-v__wrap2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.content__3__wrap {
  border-bottom: 1px solid #E5E5E5;
  padding-top: 24px;
  padding-bottom: 20px;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -25px; }

.content3__col {
  width: calc(50% - 50px);
  margin: 0 25px; }
  .content3__col .button__text-input input {
    width: 241px; }
  .content3__col .custom__checkbox {
    padding-top: 0; }

.content3__title {
  font-size: 13px;
  margin-bottom: 12px; }
  .content3__title span {
    color: #ABA9A9; }

.customer__inline.timer {
  margin-bottom: 0; }
  .customer__inline.timer input {
    text-align: center;
    width: 61px; }
  .customer__inline.timer span {
    display: block;
    width: 68px;
    margin-left: 12px; }

.shadow .vidget-v {
  box-shadow: 4px 4px 25px rgba(0, 92, 255, 0.15); }

.ugli .vidget-v {
  border-radius: 30px; }

.ugli .vidget-v__bot {
  border-radius: 37px; }

.ugli .vidget-v__right a {
  border-radius: 33px; }

#vidget3.shadow .vidget-v {
  box-shadow: none; }

#vidget3.shadow .vidget-v__wrap {
  box-shadow: 4px 4px 25px rgba(0, 92, 255, 0.15); }

#vidget3.ugli .vidget-v {
  border-radius: 0; }

#vidget3.ugli .vidget-v__wrap {
  border-radius: 30px; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

@media (max-width: 767px) {
  .vidget {
    max-width: 100%; }
  .vibor__text {
    font-size: 14px; }
  .vibor__name {
    font-size: 14px; }
  .vibor {
    overflow: auto;
    padding-bottom: 10px;
    margin: 0; }
  .vibor__item {
    min-width: 180px;
    margin: 0;
    margin-right: 20px; }
  .shag__title {
    font-size: 14px;
    padding: 19px 15px; }
    .shag__title svg {
      margin-left: 15px;
      -ms-flex: 0 0 12px;
          flex: 0 0 12px; }
  .v__wrap {
    padding: 15px; }
  .proverka__right {
    font-size: 14px; }
  .customer {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; }
  .shag__content {
    padding: 19px 15px; }
  .customer__left,
  .customer__right {
    width: 100%; }
  .customer__inline {
    max-width: 280px; }
  .custom__block {
    padding-top: 30px; }
  .shags {
    margin: 0 -15px; }
  .font-size-input {
    max-width: 238px; }
  .button__text-input input {
    width: 238px; }
  .right-button-wrap {
    margin: 25px 0;
    margin-bottom: 35px; }
  .content__3__wrap {
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 0; }
  .content3__col {
    width: 100%;
    margin: 0; }
  #vidget3 {
    padding-bottom: 25px; }
  .button__text-input {
    margin-bottom: 25px; }
  .font-size-input {
    margin-bottom: 25px; }
  .customer__inline.timer {
    margin-top: 25px; }
  .shags {
    margin-top: 50px; }
  .shags .title {
    padding: 0 15px; }
  .proverka {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start; }
  .proverka__right {
    padding-left: 0;
    margin-top: 15px; } }

.addsite.tovar-add {
  position: relative;
  max-width: 1000px; }
  .addsite.tovar-add .addsite__save {
    position: absolute;
    right: 36px;
    top: 30px; }
  .addsite.tovar-add .addsite__title span {
    max-width: calc(100% - 250px); }

.tovar-add__alert {
  color: #ED793F;
  padding: 10px 14px;
  background: #FFEACA;
  border: 1px solid #FB8347;
  /* Light Shadow */
  box-shadow: 0px 4px 30px rgba(255, 30, 30, 0.06);
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 17px; }

.tovar-add__setting {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin-bottom: 25px;
  margin-top: 58px; }
  .tovar-add__setting button {
    margin-left: 8px;
    cursor: pointer;
    font-weight: 800;
    font-family: 'Raleway';
    font-size: 16px;
    padding-left: 10px;
    padding-right: 15px; }

.btn-fiolet.btn-setting {
  padding: 9px; }
  .btn-fiolet.btn-setting svg {
    margin: 0; }

.tovar-add__list {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 21px; }
  .tovar-add__list .link {
    -ms-flex: 1;
        flex: 1; }
  .tovar-add__list .price {
    width: 176px;
    margin-left: 8px; }

.tovar-add__list:last-child {
  margin-bottom: 0; }

.tovar-add__list input {
  height: 44px;
  background: #FFEACA;
  border-radius: 5px;
  padding: 0 18px;
  width: 100%; }

@media (max-width: 767px) {
  .addsite.tovar-add .addsite__save {
    position: initial; }
  .addsite.tovar-add .addsite__title span {
    max-width: 100%; }
  .tovar-add__list {
    -ms-flex-direction: column;
        flex-direction: column;
    margin-bottom: 35px; }
  .tovar-add__list .price {
    margin-top: 10px;
    margin-left: 0;
    width: 100%; }
    .tovar-add__list .price input {
      -ms-flex: 1;
          flex: 1; }
    .tovar-add__list .price label {
      margin-right: 15px; }
  .tovar-add__list:last-child {
    margin-bottom: 35px; } }

button.disabled {
  opacity: 0.3;
  pointer-events: none; }

.integ {
  max-width: 640px; }

.integ__label {
  font-weight: 800;
  margin-bottom: 22px; }

.integ__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
  margin-bottom: 15px; }

.integ__item {
  width: calc(100% / 3 - 20px);
  margin: 0 10px;
  min-width: 200px;
  background-color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 80px;
  padding: 0 20px;
  margin-bottom: 20px; }
  .integ__item .integ__name {
    -ms-flex: 1;
        flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    font-weight: 800; }
    .integ__item .integ__name img {
      max-width: 100%; }
  .integ__item .checkbox-inline {
    margin-left: 5px; }

.analit__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end; }
  .analit__header a {
    margin-left: 6px;
    background: #FFCACA;
    border-radius: 3px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    color: #fff;
    height: 30px;
    padding: 0 12px;
    font-weight: 800;
    transition: 0.1s all; }
  .analit__header a.active,
  .analit__header a:hover {
    background: #FF9589; }
  .analit__header input {
    background: #FFCACA;
    border-radius: 3px;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    margin-left: 6px;
    width: 154px;
    text-transform: lowercase;
    cursor: pointer;
    transition: 0.1s all; }
  .analit__header input:hover {
    background: #FF9589; }
  .analit__header input.active {
    background: #FF9589; }

.datepicker {
  font-family: 'Raleway', sans-serif; }

.datepicker--cell.-selected-,
.datepicker--cell.-selected-.-current- {
  background: #FF9589; }

.datepicker--cell.-selected-.-focus- {
  background: #FF9589; }

.datepicker--cell.-in-range- {
  background: #FFCACA; }

.datepicker--cell.-focus- {
  background: #FFCACA; }

.datepicker--day-name {
  color: #000;
  font-weight: 800; }

.datepicker--nav-action:hover,
.datepicker--nav-title:hover {
  background: #FF9589;
  color: #fff; }
  .datepicker--nav-action:hover i,
  .datepicker--nav-title:hover i {
    color: #fff; }
  .datepicker--nav-action:hover path,
  .datepicker--nav-title:hover path {
    stroke: #fff; }

.datepicker--cell.-current- {
  color: #000;
  font-weight: 800; }

.datepicker--cell.-current-.-in-range- {
  color: #000;
  font-weight: 800; }

.analit {
  margin-top: -62px;
  max-width: 957px; }

.analit__header {
  margin-bottom: 33px; }

.analit__row {
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
  margin-bottom: 24px; }

.analit__col {
  width: calc(50% - 30px);
  margin: 0 15px; }

.analit__item {
  padding: 20px 25px;
  background-color: #ffffff;
  height: 100%; }

.analit__title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
  font-weight: 800;
  margin-bottom: 10px; }
  .analit__title a {
    margin-left: 10px; }

#click-charts {
  height: 290px; }
  #click-charts .ct-series-a .ct-bar,
  #click-charts .ct-series-a .ct-line,
  #click-charts .ct-series-a .ct-point,
  #click-charts .ct-series-a .ct-slice-donut {
    stroke: #884594; }
  #click-charts .ct-series-b .ct-bar,
  #click-charts .ct-series-b .ct-line,
  #click-charts .ct-series-b .ct-point,
  #click-charts .ct-series-b .ct-slice-donut {
    stroke: #BBBBBB; }
  #click-charts .ct-labels foreignObject:nth-child(2) span {
    text-align: right;
    -ms-flex-pack: end;
        justify-content: flex-end; }

.conv__wrap {
  display: -ms-flexbox;
  display: flex; }
  .conv__wrap .left {
    -ms-flex: 1;
        flex: 1; }
  .conv__wrap .right {
    -ms-flex: 1;
        flex: 1; }

.analit__conversia {
  height: 100%; }
  .analit__conversia .analit__item {
    height: calc(50% - 12px); }
  .analit__conversia .analit__item:first-child {
    margin-bottom: 24px; }

.analit__conversia .ct-series-a .ct-bar,
.analit__conversia .ct-series-a .ct-line,
.analit__conversia .ct-series-a .ct-point,
.analit__conversia .ct-series-a .ct-slice-donut {
  stroke: #FF6767; }

.analit__conversia .ct-series-a .ct-area,
.analit__conversia .ct-series-a .ct-slice-donut-solid,
.analit__conversia .ct-series-a .ct-slice-pie {
  fill: #FFCACA;
  fill-opacity: 1; }

.conv__procent {
  font-size: 23px;
  color: #FF6767;
  margin-bottom: 13px; }

.conv__line {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-right: 10px;
  margin-bottom: 12px; }

.conv__line span {
  color: #FF6767;
  display: block;
  width: 55px;
  margin-left: 5px; }

.chatrt__round-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex: 1;
      flex: 1; }
  .chatrt__round-wrap .left,
  .chatrt__round-wrap .right {
    -ms-flex: 1;
        flex: 1; }

.perehod-line {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-left: 24px;
  margin-bottom: 16px; }
  .perehod-line span {
    display: block;
    margin-left: 5px; }

.perehod-line:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 1px; }

.perehod-line.first:before {
  background-color: #884594; }

.perehod-line.two:before {
  background-color: #FF6767; }

.perehod-line.three:before {
  background-color: #FFEE57; }

.perehod-line.four:before {
  background-color: #FF8E3D; }

#round1 {
  width: 167px;
  height: 167px;
  margin-left: auto;
  margin-top: -20px; }

#round2 {
  width: 120px;
  height: 120px; }

.round {
  position: relative; }
  .round .ct-series-a .ct-area,
  .round .ct-series-a .ct-slice-donut-solid,
  .round .ct-series-a .ct-slice-pie {
    fill: #884594; }
  .round .ct-series-b .ct-area,
  .round .ct-series-b .ct-slice-donut-solid,
  .round .ct-series-b .ct-slice-pie {
    fill: #FF6767; }
  .round .ct-series-c .ct-area,
  .round .ct-series-c .ct-slice-donut-solid,
  .round .ct-series-c .ct-slice-pie {
    fill: #FFEE57; }
  .round .ct-series-d .ct-area,
  .round .ct-series-d .ct-slice-donut-solid,
  .round .ct-series-d .ct-slice-pie {
    fill: #FF8E3D; }

.round:before {
  content: "";
  width: 35%;
  height: 35%;
  display: block;
  position: absolute;
  background-color: #fff;
  z-index: 1;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.change__type {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 21px;
  margin-top: -10px; }
  .change__type a {
    font-size: 12px;
    color: #FF9589;
    margin-right: 8px;
    text-decoration: underline; }
  .change__type a.active {
    text-decoration: none; }

.analit__item.item-right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

@media (max-width: 1299px) {
  .analit {
    margin-top: 0; } }

@media (max-width: 1199px) and (min-width: 1025px) {
  #round1 {
    width: 120px;
    height: 120px; } }

@media (max-width: 991px) {
  #round1 {
    width: 120px;
    height: 120px; }
  .analit__col {
    margin: 0 10px;
    width: calc(50% - 20px); }
  .analit__row {
    margin: 0 -10px;
    margin-bottom: 20px; }
  .conv__line {
    font-size: 14px; }
  .analit__item {
    padding: 15px; } }

@media (max-width: 767px) {
  .analit__row {
    -ms-flex-direction: column;
        flex-direction: column;
    margin-bottom: 0; }
  .analit__col {
    width: calc(100% - 20px);
    margin-bottom: 20px; }
  #round1 {
    margin: 0 auto;
    width: 160px;
    height: 160px; }
  #round2 {
    margin: 0 auto;
    width: 160px;
    height: 160px; }
  .analit__header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .analit__header a {
      margin-bottom: 10px; }
    .analit__header input {
      height: 30px; }
  #click-charts {
    height: 190px; } }

@media (max-width: 424px) {
  .perehod-line {
    font-size: 14px; }
  #round1 {
    width: 40vw;
    height: 40vw;
    margin: 0 auto; }
  #round2 {
    margin: 0 auto;
    width: 40vw;
    height: 40vw; }
  .conv__line {
    max-width: 240px; }
  .conv__wrap {
    -ms-flex-direction: column;
        flex-direction: column; }
  .analit__item.item-right .chatrt__round-wrap {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse; }
  .chatrt__round-wrap {
    -ms-flex-direction: column;
        flex-direction: column; }
  .chatrt__round-wrap .left,
  .chatrt__round-wrap .right {
    width: 100%; } }

.analit__table {
  background-color: #fff;
  padding: 19px 25px; }
  .analit__table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px; }
  .analit__table thead {
    background-color: #FFF4EE; }
  .analit__table tbody tr {
    border-bottom: 1px solid #E5E5E5; }
  .analit__table td {
    padding: 10px 13px;
    text-align: center; }
  .analit__table .url {
    font-weight: 800;
    text-align: left;
    word-break: break-word;
    max-width: 200px; }
  .analit__table .sum {
    font-weight: 800; }

@media (max-width: 991px) {
  .analit__table {
    padding: 15px; } }

@media (max-width: 767px) {
  .analit__table {
    font-size: 14px;
    overflow: auto; }
  .analit__table__wrap {
    overflow: auto; }
  .analit__table table {
    max-width: initial;
    width: 630px; } }

.name-mark {
  cursor: pointer; }

.name-mark span {
  position: relative;
  bottom: 2px;
  display: inline-block; }

.name-mark.active span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  bottom: 0; }

.analitic-search {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .analitic-search .catalog__search {
    margin-left: 25px; }
    .analitic-search .catalog__search input {
      width: 300px;
      max-width: 100%; }

@media (max-width: 767px) {
  .analitic-search {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start; }
    .analitic-search .catalog__search {
      margin-left: 0;
      margin-top: 15px;
      margin-bottom: 15px; } }

@media (max-width: 424px) {
  .analitic-search .catalog__search input {
    width: 230px; } }

